<footer>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100vh;
        }
        footer{
            background: #222;
            margin-top: 50px;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: #ccc;
            padding: 25px;
        }

        @media(max-width: 720px){
            footer{
                flex-direction: column;
                gap: 20px;
                text-align: center;
            }
        }

        footer a{
            color: #ccc;
        }
    </style>
    <p>©&nbsp;<a target="_blank" href="https://hostingspell.com">HostingSpell</a></p>
    <p>Developed by<br><a href="https://www.github.com/umgamrania">Umang Amrania</a> & <a href="https://www.github.com/Bhavarth005">Vakharia Bhavarth</a></p>
</footer>